body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 30px;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

input {
    width: 270px;
    padding: 14px;
    font-size: 20px;
    background-color: #eee;
    border: #ccc solid 1px;
    border-radius: 100px;
    outline: none;
}

a {
    text-decoration: none;
    color: #444;
    font-size: 20px;
    padding: 10px;
}

a:active {
    filter: brightness(80%);
}

a.play {
    padding: 12px;
    width: 270px;
    text-align: center;
    background-color: #444;
    border-radius: 200px;
    color: white;
}